@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
    font-family: 'Bakbak One', cursive;
    width: max-content;
    margin: 0 auto;
    background-color: antiquewhite;
}

#mainWrapper {
    border-radius: 1px;
}

#slidebar {
    will-change: min-height;
}

.slidebar__inner{
    transform: translate(0, 0);
}